body {
  padding: 0;
  margin: 0;
}
.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: auto;
  width: 100%;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
  position: relative;
  box-sizing: border-box;
}
a {
  color: #000;
  text-decoration: none;
}
a:hover {
  color: #000;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
p {
  margin: 0;
  padding: 0;
  display: block;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box;
}
.container-fluid {
  width: 100%;
  padding: 0 15px;
  box-sizing: border-box;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.clearfix {
  clear: both;
  display: block;
}
.selected {
  color: #dd2f31;
  border-bottom: 2px solid #dd2f31;
}
.slick-dots li button:before {
  background-color: #cccccc;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  content: '' !important;
}
.slick-dots li.slick-active button:before {
  background-color: #dd2f31;
}
.header {
  width: 100%;
  background-color: rgba(13, 8, 7, 0.6);
  color: #fff;
  line-height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}
.header .header-content {
  display: flex;
  justify-content: space-between;
}
.header .header-content .logo {
  display: flex;
  align-items: center;
}
.header .header-content .navbar ul {
  display: flex;
  flex-wrap: wrap;
}
.header .header-content .navbar ul li {
  margin: 0 25px;
}
.header .header-content .navbar ul li a {
  color: #fff;
  transition: 0.3s;
}
.header .header-content .navbar ul li a:hover {
  color: #ccc;
}
.header .header-content .header-right {
  margin-left: 30px;
}
.header .header-content .header-right i,
.header .header-content .header-right span {
  margin: 0px 15px;
  font-size: 16px;
}
.header .header-content .header-right i:last-child {
  margin-right: 0px;
}
.slider {
  background-color: #000;
  position: relative;
}
.slider .next-slider,
.slider .prev-slider {
  position: absolute;
  top: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-size: 20px;
  z-index: 1;
}
.slider .next-slider {
  left: 20px;
}
.slider .prev-slider {
  right: 5px;
}
.slider .slider-content .slider-img {
  position: relative;
}
.slider .slider-content .slider-img .img-bg {
  opacity: 0.6;
}
.slider .slider-content .slider-img .img-bg img {
  width: 100%;
}
.slider .slider-content .slider-img .img-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.slider .slider-content .content {
  color: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}
.slider .slider-content .content .slider-title {
  font-size: 60px;
  font-weight: 600;
  line-height: 60px;
  margin: 15px 0px;
}
.slider .slider-content .content .key-word {
  font-size: 40px;
  font-weight: 600;
  line-height: 40px;
  margin: 0;
  margin: 15px 0px;
}
.slider .slider-content .content .description {
  width: 530px;
  font-size: 14px;
  text-align: justify;
  margin: 25px 0px;
}
.slider .slider-content .content .btn-shop-now {
  width: 170px;
  height: 50px;
  margin-top: 35px;
  border: 1px solid #fff;
  color: #fff;
  font-size: 14px;
  text-align: center;
  line-height: 50px;
}
.main-content .columns .content {
  position: relative;
}
.main-content .columns .content .banner {
  display: flex;
  flex-wrap: wrap;
  top: 0;
  left: 0;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  transform: translateY(-80px);
}
.main-content .columns .content .banner .item {
  width: 33.33%;
  display: flex;
  align-items: center;
}
.main-content .columns .content .banner .item .img-content {
  width: 100%;
}
.main-content .columns .content .banner .item .item-content {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 35px;
  text-align: center;
  background-color: #fff;
}
.main-content .columns .content .banner .item .item-content .title {
  font-size: 18px;
  font-weight: 600;
  margin: 15px;
  text-transform: uppercase;
}
.main-content .columns .content .banner .item .item-content .discpription {
  font-size: 14px;
  font-weight: 400;
  margin-top: 15px;
}
.main-content .columns .content .listing {
  margin-top: 20px;
}
.main-content .columns .content .listing .top-sellers,
.main-content .columns .content .listing .featured,
.main-content .columns .content .listing .most-reviews {
  opacity: 0;
  transition: 0.5s;
  height: 0px;
}
.main-content .columns .content .listing .top-sellers.active,
.main-content .columns .content .listing .featured.active,
.main-content .columns .content .listing .most-reviews.active {
  opacity: 1;
  height: auto;
}
.main-content .columns .content .listing .tab-bar {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #dddd;
}
.main-content .columns .content .listing .tab-bar p {
  text-transform: uppercase;
}
.main-content .columns .content .listing .tab-bar .btn-tab-bar {
  padding: 20px 15px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}
.main-content .columns .content .listing .listing-content .item-listing {
  width: 25%;
  padding: 0px 15px;
  margin-top: 30px;
  box-sizing: border-box;
}
.main-content .columns .content .listing .listing-content .item-listing .item-inner .top-content {
  display: flex;
  position: relative;
  overflow: hidden;
}
.main-content .columns .content .listing .listing-content .item-listing .item-inner .top-content img {
  transition: 0.5s;
  width: 100%;
}
.main-content .columns .content .listing .listing-content .item-listing .item-inner .top-content .btn {
  display: none;
  position: absolute;
  top: 20px;
  right: 20px;
}
.main-content .columns .content .listing .listing-content .item-listing .item-inner .top-content .btn i {
  display: block;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #dddd;
  border-radius: 5px 0px;
  margin-bottom: 15px;
  color: #777;
  cursor: pointer;
  transition: 0.3s;
}
.main-content .columns .content .listing .listing-content .item-listing .item-inner .top-content .btn i:hover {
  background: #dd2f31;
  color: #fff;
}
.main-content .columns .content .listing .listing-content .item-listing .item-inner .bottom-content {
  padding: 30px;
}
.main-content .columns .content .listing .listing-content .item-listing .item-inner .bottom-content .title {
  font-size: 14px;
  font-weight: 400;
}
.main-content .columns .content .listing .listing-content .item-listing .item-inner .bottom-content .price {
  font-weight: bold;
  font-size: 14px;
}
.main-content .columns .content .listing .listing-content .item-listing .item-inner:hover {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}
.main-content .columns .content .listing .listing-content .item-listing .item-inner:hover img {
  transform: scale(1.1);
}
.main-content .columns .content .listing .listing-content .item-listing .item-inner:hover .btn {
  display: block;
}
.main-content .columns .content .testimonials {
  margin-top: 100px;
}
.main-content .columns .content .testimonials .clients-say {
  text-align: center;
}
.main-content .columns .content .testimonials .clients-say .title {
  display: block !important;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 50px ;
}
.main-content .columns .content .testimonials .clients-say .avata-img {
  margin: 0 auto;
}
.main-content .columns .content .testimonials .clients-say .message {
  width: 770px;
  margin: 30px auto;
  font-size: 18px;
  font-weight: 400;
}
.main-content .columns .content .testimonials .clients-say .client-info {
  margin: 40px 0px;
}
.main-content .columns .content .testimonials .clients-say .client-info .name-client {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}
.main-content .columns .content .testimonials .clients-say .client-info .description {
  font-size: 14px;
}
.main-content .columns .content .brand {
  margin-top: 100px;
  border-top: 1px solid #dddd;
}
.main-content .columns .content .brand .brand-item {
  width: 16.6%;
  padding: 0px 15px;
  box-sizing: border-box;
}
.main-content .columns .content .brand .brand-item img {
  padding: 40px 20px;
}
.main-content .columns .content .brand .brand-item:hover {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}
.footer {
  background-color: #222222;
  color: #777;
}
.footer-inner {
  margin-bottom: 25px;
}
.footer-inner .footer-top {
  text-align: center;
  padding-top: 100px;
  margin-bottom: 60px;
}
.footer-inner .footer-top .description {
  font-size: 14px;
  width: 770px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 48px;
}
.footer-inner .footer-top .contact i {
  padding: 0 23px;
}
.footer-inner .footer-content .item {
  padding: 0px 15px;
}
.footer-inner .footer-content .item-inner .title {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 38px;
}
.footer-inner .footer-content .item-inner .list-item li {
  margin-bottom: 30px;
}
.footer-inner .footer-content .item-inner .list-item a {
  color: #777;
  font-size: 14px;
  font-weight: 400;
}
.footer .copyright {
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 14px;
  background-color: #111;
}
/*# sourceMappingURL=style.css.map */